HTTP_PORT=80
HTTPS_PORT=443

MYSQL_DATABASE=FrolovDev
MYSQL_USER=user
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

NGINX_SERVER_NAME=example.com
NGINX_SSL_ENABLED=false
NGINX_SSL_CERTIFICATE=/etc/nginx/certs/fullchain.pem
NGINX_SSL_CERTIFICATE_KEY=/etc/nginx/certs/privkey.pem
